@font-face {
    font-family: "Munito";
    src: url("../fonts/NunitoSans-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Munito";
    src: url("../fonts/NunitoSans-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Munito";
    src: url("../fonts/NunitoSans-ExtraBold.ttf");
    font-weight: 800;
}