
.header {
    background-color: var(--component);
    color: var(--text);
    transition: $theme-transition;
    padding: 2rem 0;
    box-shadow: $box-shadow;
    position: sticky;
    top: 0;
    z-index: 1;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 1rem;
        font-weight: $fw-bold;
        margin: 0;
    }

    &__toggler {
        cursor: pointer;
        background-color: transparent;
        color: inherit;
        border: none;
    }
}