.countryCard {
    box-shadow: $box-shadow;
    border-radius: .25rem;
    overflow: hidden;
    max-width: 350px;
    margin-inline: auto;
    background-color: var(--component);
    color: var(--text);
    transition: $theme-transition;
    font-size: 14px;

    &__img {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }

    &__body {
        padding: 1.75rem;
        padding-bottom: 2.5rem;
    }

    &__title {
        margin: 0;
        font-size: 1.25rem;
        font-weight: $fw-bold;
        margin-bottom: 1.25rem;
    }
}